.order {
  box-sizing: border-box;
  border-radius: 40px;
  width: 584px;
  background-color: #1C1C21;
  padding: 24px;
}

.info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.sum {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}