.header {
	margin: 0 auto;
	position: relative;
	background-color: var(--background);
}

.header::before,
.header::after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
	width: 100vw;
	background-color: var(--background);
}

.header::before {
	right: 100%;
}

.header::after {
	left: 100%;
}

.layout {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.logo {
	margin: 0 288px 0 auto;
}

.link {
	text-decoration: none;
	composes: layout;
}

.link:hover {
	cursor: pointer;
	color: var(--text-primary-color);
}

.link:focus {
	color: var(--text-primary-color);
}
