.header {
	margin: 0 auto;
	width: 100vw;
	background-color: var(--background);
}

.layout {
	margin: 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.container {
	margin: 0 auto;
	composes: layout;
	width: 1280px;
}

.logo {
	margin: 0 288px 0 auto;
}

.link {
	text-decoration: none;
	composes: layout;
}

.item {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.link:hover {
	cursor: pointer;
	color: var(--text-primary-color);
}

.link:focus {
	color: var(--text-primary-color);
}
