.section {
  width: 600px;
  margin: 0;
}

.list {
  overflow-y: scroll;
  list-style-type: none;
  max-height: 480px;
}

.dropping {
	box-shadow: 0px 0px 16px rgba(76, 76, 255, 0.25), 0px 0px 8px rgba(76, 76, 255, 0.75), 0px 4px 32px rgba(76, 76, 255, 0.5);;
  border-radius: 40px;
}

.element {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.total {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.sum {
  composes: total;
  gap: 10px;
}

.drag {
  cursor: pointer;
}
